
/* Header Start  */
#main-logo {
  height: 75px;
  width: 133px;
}
#card-motivation-text {
  font-size: 18px;
  font-weight: 500;
  color: white;
}
#start_button {
  margin-top: 20px;
  margin-left: 380px;
  width: 300px;
  height: 45px;
  border-radius: 25px;
  background-color: white;
}
@media (max-width: 1420px) {
  #start_button {
    margin-top: 20px;
    margin-left: 7px;
    width: 250px;
    height: 45px;
    border-radius: 25px;
    background-color: white;
  }
}
header {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-top: 80px;
}
.logo-container {
  margin-left: -30px;
}
.navbar-custom {
  background-color: #242424;
  border: 0.02px solid #ffffff;
  border-top: 0;
  border-right: 0;
  border-left: 0;
}
.nav-link.active {
  font-family: Yeseva One;
  color: white !important;
  font-size: 15px;
}
.background-section {
  background-image: url("../icons/header-img.jpg");
  background-size: cover;
  background-position: center;
  height: 700px;
  position: relative;
  color: white;
}

.background-section .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.flex-container {
  display: flex;
  justify-content: left;
  align-items: center;
}

.header-titel {
  margin-left: 300px;
  margin-top: 80px;
  font-size: 50px;
  width: 500px;
  line-height: 1;
  font-family: Yeseva One;
  color: black !important;
}
@media (max-width: 1420px) {
  .header-titel {
    margin-left: 2px;
    margin-top: 80px;
    font-size: 30px;
    line-height: 1;
    font-family: Yeseva One;
    color: black !important;
  }
}

.header-description {
  font-family: Roboto;
  font-weight: 700;
  margin-left: 280px;
  margin-top: 20px;
  font-size: 20px;
  line-height: 1.5;
  width: 500px;
}
@media (max-width: 1420px) {
  .header-description {
    font-family: Roboto;
    font-weight: 400;
    margin-left: 2px;
    font-size: 14px;
    line-height: 1.5;
    width: 300px;
  }
}
#start_button:hover {
  transition: 0.3s;
  background-color: transparent;
}

/* Header End */

/* Body Start   */
.geist1 {
  color: #af6d01;
  margin-top: 180px;
  font-size: 16px;
}
.geist {
  color: #af6d01;
  margin-top: 600px;
  font-size: 16px;
}
@media (max-width: 900px) {
  .geist {
    margin-top: 250px;
  }
  .geist1 {
    margin-top: 100px;
  }
}
.titel {
  font-size: 35px;
}
.texte {
  color: rgb(109, 109, 109);
  font-size: 18px;
}
.texte-ende {
  color: rgb(109, 109, 109);
  margin-bottom: 200px;
  font-size: 18px;
}
.fixed-video {
  position: fixed;
  top: 50%;
  right: 10%;
  transform: translateY(-50%);
  width: 25%;
  height: auto;
}

.video-container {
  position: relative;
}
/* .erste-row{
  margin-bottom: 300px;
} */
.entschieden {
  background-color: #f7f7f7;
  border-radius: 8px;
  padding: 50px 20px;
}

.entschieden h2,
.entschieden h4 {
  color: #333;
}

=======
.geist1{
    color: #af6d01;
    margin-top: 180px;
    font-size: 16px;

}
.geist{
    color: #af6d01;
    margin-top: 600px;
    font-size: 16px;

}
.titel{
    font-size: 35px;
}
.texte{
    color: rgb(109, 109, 109);
    font-size: 18px;
}
.texte-ende{
    color: rgb(109, 109, 109);
    margin-bottom: 200px;
    font-size: 18px;
}
.fixed-video {
    position: fixed;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
    width: 25%;  
    height: auto;
}

.video-container {
    position: relative;
}
/* .erste-row{
    margin-bottom: 300px;
} */
.entschieden {
    background-color: #f7f7f7;  /* پس‌زمینه روشن */
    border-radius: 8px;         /* گوشه‌های گرد */
    padding: 50px 20px;         /* فاصله داخلی */
}

.entschieden h2, .entschieden h4 {
    color: #333;               /* رنگ متن تیره برای خوانایی بیشتر */
}



@import url("https://fonts.googleapis.com/css?family=Mukta:700");
* {
  box-sizing: border-box;
}

*::before,
*::after {

*::before, *::after {

  box-sizing: border-box;
}

body {
  font-family: "Mukta", sans-serif;
  font-size: 1rem;
  line-height: 1.5;

  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;

  min-height: 100vh;
  background: #f3f8fa;
}

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}
button.learn-more {
  width: 12rem;
  height: auto;
}
button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #282936;
  border-radius: 1.625rem;
}
button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}
button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}
button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.25rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}
button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #282936;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}
button:hover .circle {
  width: 100%;
}
button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}
button:hover .button-text {
  color: #fff;
}

/* @supports (display: grid) {

body {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.625rem;
  grid-template-areas: ". main main ." ". main main .";
} */

/* #container {
  grid-area: main;
  align-self: center;
  justify-self: center;
}
} */
/* Body End */

  body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.625rem;
    grid-template-areas: ". main main ." ". main main .";
  } */

  /* #container {
    grid-area: main;
    align-self: center;
    justify-self: center;
  }
} */

