/* Header Start  */
body {
  overflow-x: hidden;
}
#main-logo {
  height: 53px;
  width: 95px;
}
#card-motivation-text {
  font-size: 18px;
  font-weight: 500;
  color: white;
}
#start_button {
  margin-top: 20px;
  margin-left: 380px;
  width: 300px;
  height: 45px;
  border-radius: 25px;
  background-color: white;
}
@media (max-width: 1420px) {
  #start_button {
    margin-top: 20px;
    margin-left: 7px;
    width: 250px;
    height: 45px;
    border-radius: 25px;
    background-color: white;
  }
}
header {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.header-container {
  position: relative;
}
.navbar-container {
  position: absolute;
  z-index: 100;
  width: 100%;
}
.logo-container {
  margin-left: -30px;
}
.navbar-custom {
  background-color: transparent;
  border: none;
}
.nav-link.active {
  font-family: Yeseva One;
  color: rgb(255, 255, 255) !important;
  font-size: 18px;
}
.background-section {
  background-image: url("../icons/5fba92b2-36ad-487c-93e4-b332598fbd42.jpg");
  background-size: cover;
  background-position: center;
  height: 700px;
  position: relative;
  color: rgb(0, 0, 0);
}

.background-section .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.flex-container {
  display: flex;
  justify-content: left;
  align-items: center;
}

.header-titel {
  margin-left: 300px;
  margin-top: 80px;
  font-size: 50px;
  width: 500px;
  line-height: 1;
  font-family: Yeseva One;
  color: black !important;
}
@media (max-width: 1420px) {
  .header-titel {
    margin-left: 2px;
    margin-top: 80px;
    font-size: 30px;
    line-height: 1;
    font-family: Yeseva One;
    color: black !important;
  }
}

.header-description {
  font-family: Roboto;
  font-weight: 700;
  margin-left: 280px;
  margin-top: 20px;
  font-size: 20px;
  line-height: 1.5;
  width: 500px;
}
@media (max-width: 1420px) {
  .header-description {
    font-family: Roboto;
    font-weight: 400;
    margin-left: 2px;
    font-size: 14px;
    line-height: 1.5;
    width: 300px;
  }
}
#start_button:hover {
  transition: 0.3s;
  background-color: transparent;
}

/* Header End */

/* Body Start   */
.geist1 {
  color: #af6d01;
  margin-top: 180px;
  font-size: 16px;
}
.geist {
  color: #af6d01;
  margin-top: 600px;
  font-size: 16px;
}
@media (max-width: 900px) {
  .geist {
    margin-top: 250px;
  }
  .geist1 {
    margin-top: 100px;
  }
}
.titel {
  font-size: 35px;
}
.texte {
  color: rgb(109, 109, 109);
  font-size: 18px;
}
.texte-ende {
  color: rgb(109, 109, 109);
  margin-bottom: 200px;
  font-size: 18px;
}
.fixed-video {
  position: fixed;
  top: 50%;
  right: 10%;
  transform: translateY(-50%);
  width: 25%;
  height: auto;
}

.video-container {
  position: relative;
}
/* .erste-row{
  margin-bottom: 300px;
} */
.entschieden {
  background-color: #f7f7f7;
  border-radius: 8px;
  padding: 50px 20px;
}

.entschieden h2,
.entschieden h4 {
  color: #333;
}

@import url("https://fonts.googleapis.com/css?family=Mukta:700");
* {
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Mukta", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  min-height: 100vh;
  background: #f3f8fa;
}

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}
button.learn-more {
  width: 12rem;
  height: auto;
}
button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #282936;
  border-radius: 1.625rem;
}
button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}
button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}
button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.25rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}
button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #282936;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}
button:hover .circle {
  width: 100%;
}
button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}
button:hover .button-text {
  color: #fff;
}
footer {
  min-height: 600px;
}

.footer-container {
  background-color: #000000;
  min-width: 600px;
  display: grid;
  position: absolute;
  height: 350px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.contact {
  position: absolute;
  left: 90px;
  top: 40px;
  font-size: large;
  margin-top: 15px;
  margin-left: 65px;
  color: #ffd700;
  font-size: x-large;
  font-weight: 700;
}

.socialmedia-container {
  fill: white;
  display: flex;
  position: absolute;
  flex-direction: row;
  margin-top: 150px;
  margin-left: 70px;
  gap: 40px;
  opacity: 1;
  z-index: 200;
}

.socialmedia-container a {
  border-radius: 50%;
  height: 70px;
  width: 70px;
  box-sizing: border-box;
  flex-shrink: 0;
  display: grid;
  place-items: center;
  box-shadow: 0 5px 10px rgba(105, 96, 9, 1.5);
  transition: transform 0.3s ease, background-color 0.3s ease, fill 0.3s ease;
}

.socialmedia-container a svg {
  height: 40px;
}

.socialmedia-container a::before {
  content: attr(data-social);
  position: absolute;
  background-color: var(--accent-color);
  color: white;
  text-decoration: none;
  padding: 0.5em 1em;
  border-radius: 100px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  transform: translateY(-30px) rotate(25deg);
  opacity: 0;
  transition: 200ms cubic-bezier(0.56, -0.16, 0, 1.97);
}

.socialmedia-container a:hover {
  background-color: var(--accent-color);
  fill: white;
  transform: scale(1.1);
}

.socialmedia-container a:hover svg {
  fill: white;
}

.socialmedia-container a::after {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 10px solid var(--accent-color);
  transform: translateY(0) rotate(25deg);
  opacity: 0;
  transition: 200ms cubic-bezier(0.56, -0.16, 0, 1.97);
}

.socialmedia-container a:hover::before {
  transform: translateY(-65px) rotate(0);
  opacity: 1;
}

.socialmedia-container a:hover::after {
  transform: translateY(-42px) rotate(0);
  opacity: 1;
}

.logo {
  position: absolute;
  bottom: 90px;
  left: 50%;
  transform: translate(-50%, 0%);
}

.privacyPolicy-container {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  color: #4d4415;
  font-weight: 500;
}

.feedback-container {
  position: absolute;
  right: 60px;
  top: 45px;
  font-size: small;
  margin-top: 15px;
  margin-left: 65px;
  color: #4c585b;
  font-weight: 700;
}

#feedback-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 320px;
}

.feedback-label {
  font-size: large;
  font-weight: 700;
  color: #ffd700;
}

textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  resize: none;
  color: #050505;
  font-size: medium;
  font-weight: 500;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

textarea:focus {
  outline: none;
  border-color: #ffd700;
  box-shadow: 0 0 10px rgba(255, 215, 0, 0.5);
}

.submit-button {
  background-color: #ffd700;
  color: #000;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  width: 320px;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #ffa500;
}
.submit-button:active {
  background-color: #9c7303;
}

@media (max-width: 900px) {
  body {
    overflow-x: hidden;
  }
  .footer-container {
    padding-top: 30px;
    min-width: 300px;
  }
  .socialmedia-container {
    position: absolute;
    bottom: 65px;
    left: 50%;
    margin: 0;
    transform: translate(-50%, 0%);
    gap: 20px;
  }
  .socialmedia-container a {
    height: 50px;
    width: 50px;
  }
  .socialmedia-container a svg {
    height: 30px;
  }
  .feedback-container {
    position: static;
    margin: 0 auto;
    margin-bottom: 140px;
    margin-left: 50%;
    transform: translate(-53%, 0%);
  }

  .privacyPolicy-container {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    white-space: nowrap;
  }

  .contact,
  .socialmedia-container::after,
  .socialmedia-container a::before,
  .socialmedia-container a::after,
  .logo {
    display: none;
  }
}

header {
  z-index: 1;
  position: relative;
}

body {
  z-index: 0;
  position: relative;
}

footer {
  z-index: -1;
  position: relative;
}
